/*--------------------------
Author: Jenn Pereira
Author Website: PereiraDigitalMedia.com
Theme: Ophiuchus - Mobile Apps Landing Page
This is the CSS for Mobile Responsiveness of Ophiuchus Theme
--------------------------*/

/*--------------------------
-------- MIN 1920px --------
--------------------------*/
@media only screen and (min-width: 770px) {
    #home { height: auto; }     
    .home-bg { background-size: 100%; }
    } 

@media only screen and (min-width: 1920px){
    }

/*--------------------------
-------- MAX 1170px --------
--------------------------*/
@media only screen and (max-width: 1170px){
	#navigation{
	padding:0 20px;
	height: 65px;}

	#subscription{
  	height: auto;
  	min-height: 450px;
  	padding-bottom: 20px;
  	padding-top: 30px;}

  	.footer-icon{
  	padding-right: 5px;
  	font-size: 35px;}
  	}

/*--------------------------
-------- MAX 1024px --------
--------------------------*/
@media only screen and (max-width: 1024px){}

/*--------------------------
--------- MIN 970px --------
--------------------------*/
@media only screen and (min-width: 970px){
	#navigation .nav-menu{
	display:block !important;}
	}


/*--------------------------
--------- MAX 970px --------
--------------------------*/
@media only screen and (max-width: 970px){
	#navigation a.mini-nav-button{
	display: block;}

	/* Mobile Nav Menu */

	.not-visible-nav{
	opacity:0;}

	#navigation .nav-menu{
	display:none;
	height: auto;
	top:100%;
	left:0;
	width:100%;
	position: absolute;
	background:rgba(255, 255, 255, 0.97) !important;
	box-shadow: 0px 1px 4px rgba(0,0,0, 0.1);}

	#navigation ul.nav li{
	display:inline-block;
	height:auto;
	width:100%;}

	#navigation ul.nav li a{
	display:block;
	height: auto;
	width:100%;
	padding:0 20px;
	color: #555555;
	border-top:1px solid #fff;
	line-height: 40px;}

	#navigation ul.nav li a:hover,
	#navigation ul.nav li.active a{
	border-top:1px solid #fff;}

	#subscription{
  	height: auto;
  	min-height: 850px;
  	padding-top: 20px;}

  	.footer-icon{
  	padding-right: 5px;
  	font-size: 35px;}
	}

/*--------------------------
--------- MAX 800px --------
--------------------------*/
@media only screen and (max-width: 800px){
	#navigation{
	padding:0 20px;
	height: 55px;}

	.nav-logo a.logo img{
  	height: 35px;}

  	.nav-logo {
	top: 0%;
	-webkit-transform: translateY(-55%);
	-moz-transform: translateY(-55%);
	transform: translateY(-55%);}

	#subscription{
  	height: auto;
  	min-height: 900px;
  	padding-top: 30px;}

  	.footer-icon{
  	padding-right: 5px;
  	font-size: 25px;}
  	}


/*--------------------------
--------- MAX 768px --------
--------------------------*/
@media only screen and (max-width: 768px){
	#subscription{
  	height: auto;
  	min-height: 900px;
  	padding-top: 30px;}

  	.footer-icon{
  	padding-right: 5px;
  	font-size: 35px;}
	}


/*--------------------------
--------- MAX 640px --------
--------------------------*/
@media only screen and (max-width: 640px){
/*--------------------------
--------- MAX 480px --------
--------------------------*/
@media only screen and (max-width: 480px){

/*--------------------------
--------- MAX 360px --------
--------------------------*/

@media only screen and (max-width: 360px){
	}

@media screen and (max-width: 63.875em) {
	.content h1{
	width: 100%;
	text-align: center;
	font-size: 3.5em;
	top: 0;
	left: auto;
	position: relative;}

	.about h2,
	.project h2,
	.Self-introduction h2,
	.contact h2{  
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	top: 0;
	left: auto;
	position: relative;}
	}

@media screen and (max-width: 39.8125em) {
	.ac-grid {
	width: 90%;
	left: 5%;
	margin-left: 0;
	padding-top: 150px;}

	.ac-grid a {
	width: 22%;}
	}


@media screen and (max-width: 35.6875em) {
	#home .phone1,
	#home .phone2,
	#home .phone3,
	#home .phone4{
  	background-image: none;}

	#contact{
  	padding-bottom: 20px;
  	padding-top: 20px;}


	.about h2,
	.project h2,
	.Self-introduction h2,
	.contact h2{  
	width: 100%;
	text-align: center;
	font-size: 2em;
	top: 0;
	left: auto;
	position: relative;}


	.content h1{
	width: 100%;
	text-align: center;
	font-size: 3em;
	top: 0;
	left: auto;
	position: relative;}

}