@media only screen and (min-width: 770px) {
    #home { height: auto; }     
    .home-bg { background-size: 100%; }
    } 

@media only screen and (min-width: 1920px){
    }

@media only screen and (max-width: 1170px){
	#navigation{
	padding:0 20px;
	height: 65px;}
  	.footer-icon{
  	padding-right: 5px;
  	font-size: 35px;}
  	}
@media only screen and (max-width: 1024px){}
@media only screen and (min-width: 970px){
	#navigation .nav-menu{
	display:block !important;}
	}
@media only screen and (max-width: 970px){
	#navigation a.mini-nav-button{
	display: block;}
	.not-visible-nav{
	opacity:0;}
	#navigation .nav-menu{
	display:none;
	height: auto;
	top:100%;
	left:0;
	width:100%;
	position: absolute;
	background:rgba(255, 255, 255, 0.97) !important;
	box-shadow: 0px 1px 4px rgba(0,0,0, 0.1);}
	#navigation ul.nav li{
	display:inline-block;
	height:auto;
	width:100%;}
	#navigation ul.nav li a{
	display:block;
	height: auto;
	width:100%;
	padding:0 20px;
	color: #555555;
	border-top:1px solid #fff;
	line-height: 40px;}
	#navigation ul.nav li a:hover,
	#navigation ul.nav li.active a{
	border-top:1px solid #fff;}
  	.footer-icon{
  	padding-right: 5px;
  	font-size: 35px;}
	}
@media only screen and (max-width: 800px){
	#navigation{
	padding:0 20px;
	height: 55px;}
	.nav-logo a.logo img{
  	height: 35px;}
  	.nav-logo {
	top: 0%;
	-webkit-transform: translateY(-55%);
	-moz-transform: translateY(-55%);
	transform: translateY(-55%);}
  	.footer-icon{
  	padding-right: 5px;
  	font-size: 25px;}
  	}
@media only screen and (max-width: 768px){
  	.footer-icon{
  	padding-right: 5px;
  	font-size: 35px;}
	}
@media only screen and (max-width: 640px){
.contact-info{
  text-align:left;
  padding-left:20%;
  font-size:18px;
  }

#project {
  height: auto;
  min-height: 2000px;
  }



}
@media only screen and (max-width: 480px){
  .contact-info{
  text-align:left;
  padding-left:0;
  font-size:16px;
  padding-left:10%;
  }
  .contact{ margin-bottom:0px;}
}
@media only screen and (max-width: 360px){
  .contact-info{
  text-align:left;
  font-size:16px;
  padding-left:5%;
  }
  .contact{ margin-bottom:0px;}
	}
@media only screen and (max-width: 320px){
	.contact-info{
  text-align:left;
  padding-left:0;
  font-size:16px;
  padding-left:5%;
  }
   .contact{ margin-bottom:0px;}
	}


@media screen and (max-width: 63.875em) {
	.content h1{
	width: 100%;
	text-align: center;
	font-size: 3.5em;
	top: 0;
	left: auto;
	position: relative;}

	.about h2,
	.project h2,
	.Self-introduction h2,
	.contact h2{  
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	top: 0;
	left: auto;
	position: relative;}
	
	

	
	
	}

@media screen and (max-width: 39.8125em) {
	.ac-grid {
	width: 90%;
	left: 5%;
	margin-left: 0;
	padding-top: 150px;}

	.ac-grid a {
	width: 22%;}
	
	

	
	
	}


@media screen and (max-width: 35.6875em) {
	#home .phone1,
	#home .phone2{
  	background-image: none;}

	#contact{
  	-padding-bottom: 20px;
  	padding-top: 20px;}


	.about h2,
	.project h2,
	.Self-introduction h2,
	.contact h2{  
	width: 100%;
	text-align: center;
	font-size: 2em;
	top: 0;
	left: auto;
	position: relative;}


	.content h1{
	width: 100%;
	text-align: center;
	font-size: 3em;
	top: 0;
	left: auto;
	position: relative;}



}