
@import url(http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.useso.com/css?family=Didact+Gothic);

html, body {
  background: #ffffff;
  width:100%;
  height:100%;
  font-family:  'Open Sans',Futura,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.428571428571429;
  }

body {
  overflow-x: hidden; 
  }

h1, h2, h3, h4, h5, h6 , body, html{
  
  }

h1 {
  font-size: 56px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
  margin-bottom: 10px;
  }

h2 {
  font-size: 36px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  /*text-transform: uppercase;*/
  }

h3 {
  
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
  margin-bottom: 10px;
  }

h4 {
  
  font-size: 18px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  }

h5 {
  font-size: 14px;
  line-height:20px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  }

h6 {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  }

p {
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  }
  
  .copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

li, ul {
  list-style:none;
  padding:0;
  }

.center{
  text-align: center;
  vertical-align: middle;
  }

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.add-bottom{
  padding-bottom:30px;
}

.add-top{
  padding-top:30px;
}

#project .divider,
#Self-introduction .divider,
#contact .divider,
#about .divider{
  background: url(../img/divider.png) center top no-repeat;
  height: 5px;
  margin-top: 5px;
  }

.highlight{
  color: #00B4A6;
  }

/*--------------------------
---------- BUTTON ----------
--------------------------*/
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 60px;
  display: inline-block;
  margin: 5px 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align:center;
  }

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  }

/* Pseudo elements for icons */
.btn:before{
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
  }

/* Learn Button */
.btn-c{
  background: #666666;
  color: #fff;
  }

.btn-c:hover {
  background: #818181;
  color: #f3f3f3;
  }

.btn-e {
  background: #209196;
  color: #fff;
  }

.btn-e:hover {
  background:#03a4aa;
  color: #f3f3f3;
  }



/*--------------------------
-------- NAVIGATION --------
--------------------------*/

#navigation {
  position: fixed;
  width: 100%;
  height: 65px;
  background-image:url(../img/bg/background-nav.png);
  background-repeat:repeat;
  box-shadow: 0px 1px 1px rgba(0,0,0, 0.1);
  z-index: 1000;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  }

.not-visible-nav{
  top:-77px;
  }

.menu-position{
  width: 95%; 
  text-align:center; 
  padding-left:5%;
  }

.nav-logo{
  float: left;
  position: relative;
  top:0%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  }

.nav-logo a.logo{
  display: block;
  }

.nav-logo a.logo img{
  height: auto;
  max-height: 50px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  margin-top: 70px;
  }

#navigation .mini-nav-button{
  display: none;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size:20px;
  font-weight: 600;
  position: absolute;
  z-index: 1000;
  right:15px;
  top:50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  }

.nav-fa{
  color: #209196;
  }

.nav-menu{
  float: right;
  height: 100%;
  }

.nav-menu ul.nav{
  height: 100%;
  text-transform: uppercase;
  }

.nav li{
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  }

.nav li a{
  display: block;
  height: 100%;
  border-top:2px solid transparent;
  border-bottom: 2px solid transparent;
  line-height: 44px;
  color: #209196;
  font-size: 12px;
  font-weight: 600;
  padding: 9px 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
  }

.nav li:hover{
  background:transparent;
  }

.nav li a:hover{
  border-top: 2px solid #209196;
  }

.nav li.active a{
  border-top: 2px solid #209196;
  background-color: #eee;
  }

.nav li a:focus{
  background: transparent !important;
  border-top:2px solid #209196;
  color:#209196;
  }
/*--------------------------
--------- HOMEPAGE ---------
--------------------------*/

#home{
  text-align: center;
  position: relative;
  }

#home .divider-top{
  background: url(../img/divider2.png) center top no-repeat;
  height: 5px;
  margin-top: 30px;
  }

#home .divider{
  background: url(../img/divider2.png) center top no-repeat;
  height: 5px;
  }

#home .slider1{
  background:red;
  }

#home .slider2{
  background:blue;
  }

#home .phone1{
  background-image: url(../img/sliders/phone1.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 700px;
  width: 100%;
  }

#home .phone2{
  background-image: url(../img/sliders/phone2.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 700px;
  width: 100%;
  }

.phone{
  text-align: center;
  }

.banner {
  position: relative;
  text-align: center;
  color: #fff;
  height: auto;
  min-height: 700px;
  max-height: 2000px;
  }

.banner .container {
  position: absolute;
  width: 100%;
  top: 49%;
  }

.banner .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  background-attachment:fixed;
  }

.banner .carousel-fade .carousel-inner .active {
  opacity: 1;
  }

.banner .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
  }

.banner .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
  }

.banner .carousel-fade .carousel-control {
  z-index: 2;
  }

.banner .carousel-caption {
  top: -65%;
  bottom: 0;
  left: 0;
  right: 0;
  }

.banner .carousel-inner > .item {
  background-position: center;
  min-height: 700px;
  }

.banner .carousel-indicators {
  bottom: 14%;
  visibility: hidden;
  }

.banner .carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #45e3f8;
  border: 5px solid #45e3f8;
  opacity:.3;
  border-radius: 10px;
  }

.banner .carousel-indicators .active,
.banner .carousel-indicators li:hover{
  width: 14px;
  height: 14px;
  margin: 3px;
  background-color: #45e3f8;
  border: 5px solid #45e3f8;
  opacity:1;
  }

.carousel-caption{
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  }

.carousel-control {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }

.content{
  color: #ffffff;
  text-align: center;
  }

.content h1{
  width: 100%;
  text-align: center;
  font-size: 4.5em;
  top: 0;
  left: auto;
  position: relative;
  }
/**/
#project {
  background: #f3f3f3;
  width: 100%;
  height: auto;
  min-height: 750px;
  max-height: 2500px;
  background-size: cover;
  color: #ffffff;
  padding-bottom: 40px;
  padding-top: 40px;
  z-index: 999;
  }

.project h2 {
  font-weight: 600;
  font-size: 3.5em;
  text-align: center;
  color: #666666;
  }

.project h2 span {
  display: block;
  font-size: 40%;
  font-weight: 300;
  color: #666666;
  }

.grid {
  max-width: 100%;
  list-style: none;
  text-align: center;
  overflow: hidden;
  }

.grid li {
  display: inline-block;
  width: auto;
  text-align: left;
  position: relative;
  }

.grid figure {
  position: relative;
  }
.grid figcaption{
	height:20%;}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
  -webkit-filter: grayscale(100%);
  }
.grid figure img:hover {
  -webkit-filter: grayscale(0%);
  }

.grid figcaption {
  position: absolute;
  background: rgba(0,0,0,0.3);
  color: #666666;
  }

.grid figcaption h3 {
  text-align: center;
  color: #ffffff;
  
  }

.grid figcaption h5 {
  text-align:left;
  margin-top: -10px;
  margin-left:10px;
  line-height:25px;
  color: rgb(216, 216, 216,);
  font-weight: bolder;
  }

.grid figcaption a {
  text-align: center;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  right: 5px;
  }

.cs-style-3 figure {
  overflow: hidden;
  
  }

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
 
  }
figure img:hover{
	transform:scale(1.5);
	}
figure h5{
	color:#FFF;
	}
.cs-style-3 figcaption {
  height: 150px;
  text-align: center;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  }

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
  }

.cs-style-3 figcaption span {
  text-align: center;
  }




/*--------------------------
--------- BENEFITS ---------
--------------------------*/

#Self-introduction{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 690px;
  background:#06C;
  background-repeat:repeat;
  max-height: 2500px;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #f3f3f3;
  overflow: hidden;
  }

.Self-introduction h2 {
  font-weight: 600;
  font-size: 3.5em;
  text-align: center;
  color: #d8d8d8;
  }

.Self-introduction h2 span {
  display: block;
  font-size: 40%;
  font-weight: 300;
  color: #c0c0c0;
  }

#Self-introduction .list{
  padding: 20px 10px;
  cursor: pointer;
  }

#Self-introduction .list:hover {
  background: rgba(255, 255, 255, 0.11);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
  }

#Self-introduction .list:hover > h5{
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
  }

/*--------------------------
/*--------------------------
-------- CONTACT US --------
--------------------------*/

#contact{
  background:#fff;
  width: 100%;
  height: auto;
  min-height: 550px;
  max-height: 2000px;
  background-size: cover;
  color: #666666;
  padding-bottom: 40px;
  padding-top: 80px;
  }

.contact h2 {
  font-weight: 600;
  font-size: 3.5em;
  text-align: center;
  color: #666666;
  }

.contact h2 span {
  display: block;
  font-size: 40%;
  font-weight: 300;
  color: #666666;
  }

.contact-info{
  font-size: 22px;
  font-weight: 100;
  line-height:25px;
  -webkit-font-smoothing: antialiased;
  text-align:left;
  padding-left:35%;
  }

