
@import url(http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.useso.com/css?family=Didact+Gothic);

html, body {
  background: #ffffff;
  width:100%;
  height:100%;
  font-family:  'Open Sans',Futura,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.428571428571429;
  }

body {
  overflow-x: hidden; 
  }

p {
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  }







  

li, ul {
  list-style:none;
  padding:0;
  }

.center{
  text-align: center;
  vertical-align: middle;
  }

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.add-bottom{
  padding-bottom:30px;
}

.add-top{
  padding-top:30px;
}


/*-------- nav --------*/

#navigation {
  position:fixed;
  width: 100%;
  height: 104px;
  background-color:#FFF;
  z-index: 1000;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom:1px solid #CCC;
  }

.not-visible-nav{
  top:-30px;
  }

.menu-position{
  width: 97%; 
  text-align:center; 
  padding-left:3%;
  }

.nav-logo{
  float: left;
  height:104px;
  position: relative;
  top:0%;
 }

.nav-logo a.logo{
  display: block;
  }

.nav-logo a.logo img{
    height:104px;
  }

#navigation .mini-nav-button{
  display: none;
  background:#FFF;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size:20px;
  font-weight: 600;
  position: absolute;
  z-index: 1000;
  right:15px;
  top:50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  }
#navigation .mini-nav-button{
  display: none;
  }
.nav-fa{
  color: #000;
  }

.nav-menu{
  float: right;
  height: 100%;
  background:#FFF;
  }

.nav-menu ul.nav{
  height: 100%;
    transition:1s all ease;

  }

.nav li{
  display: inline-block;
  height: 100%;
  position:relative;
  }
.nav li a{
  display: block;
  height: 100%;
  line-height: 80px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 10px;
  padding-right:15px;  
  -webkit-transition:1s all ease 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
  list-style:none;
  text-decoration:none;
  }

.nav li a span{padding-left:25px; color:#999;}
.cp span{ margin-left:15px;}
.cp a{ margin-left:10px;}
.nav li a:hover{
  color: #F00;
  }
.active{
	color:#874524; border-bottom:1px solid #874524; padding-bottom:10px;}
.active1{
	color:#874524;padding-bottom:10px; }

.nav li a img{ width:44px; height:44px;}
.nav li ul{ border-bottom:1px solid #CCC; padding-top:5px; position:absolute; width:100%; height:auto; background:#FFF; font-size:16px;  z-index:9999; margin-left:-15px;
transition:1s all ease; 
height:0; overflow:hidden; opacity:0;}
.nav li ul li{ width:100%; height:60px; background:#FFF; font-size:16px; color:#000;
 }
.nav li ul li a{
  display: block;
  height: 100%;
  line-height: 60px;
  color: #000;
  font-size: 16px;
  padding: 0px 0px;
  text-decoration:none;
  border-top:1px solid #CCC;
  border-left:1px solid #CCC;
  border-right:1px solid #CCC;
  }

.nav li:hover .ul2{
	position:absolute;
	--bottom:240px;
	height:240px;opacity:1;
  }
.nav li:hover .ul1{
	position:absolute;
	--bottom:240px;
	height:120px;opacity:1;
	
  }

/*--------------nav-------*/
.banner {
  position: relative;
  text-align: center;
  color: #fff;
  height: auto;
  min-height:845px;
  max-height: 2000px;
  }
/*--------------index-------*/
.project {
  width: 100%;
  height: auto;
  background-size: cover;
  color: #000;
  padding-bottom: 40px;
  z-index: 999;
  }
.project h3{ text-align:center; margin-top:60px; color:#000; width:100%; font-size:24px; }


.project .work{ width:100%; height:auto; margin-top:40px; }
.project .work ul{padding:0 10%; width:100%; height:auto; overflow:hidden;margin-bottom:40px; }
.work ul li{float:left;  width:30%; height:auto;margin-left:2.5%; position:relative;}
.work ul li a span{float:left; width:100%; bottom:-100%;height:100%; background:#000; display:block; position:absolute; opacity:0; transition:1s all ease; text-align:center; 
line-height:200px; filter:alpha(opacity=0);}
.work ul li:hover span{ bottom:0px;opacity:0.6;filter:alpha(opacity=60); color:#FFF;}
.work ul li img{ width:100%;}
.more{ clear:both; font-size:14px; width:100%;margin-top:45px; height:14px; text-align:center;}
.more a{ color:#707070; text-decoration:none;}
.more a:hover{ color:#8e5031;}
/*--------------about us-------*/

#about{ width:100%; }
.about_banner{width:100%; padding-top:104px;}
.about_banner img{ width:100%; height:auto;}
#about_company{ width:100%; height:365px;}
.about_com{ float:left;width:45%; margin-right:5%; height:auto; z-index:99; position:absolute; margin-top:-30px}
.about_com img{ margin-left:50%;width:50%;}
.about_introduct{float:right;width:45%; margin-right:5%; height:auto; color:#999;}
.about_introduct img{width:50%;}
.about_nav{ width:100%; height:auto;margin-top:25px;}
.about_nav ul{ width:100%; padding:0 5%;}
.about_nav ul li{float:left; width:30%; padding:0% 10%; }
.about_nav ul li img{ width:100%;}
.about_nav ul li a blockquote{width:100%;font-size:14px;margin:auto;margin-top:10px; text-align:center;
color:#000;}
.about_nav ul li a p{width:100%; font-size:10px; margin-top:-5px;text-align:center;
color:#b8b8b8;}
.about_brief{ clear:both; width:95%;  height:auto; font-size:14px; }



.about_pro{ float:left;width:100%; height:auto;}
.about_pro h3{ text-align:center; color:#000; font-size:24px; width:100%;margin-top:-35px;}
.about_pro h4{ text-align:center; color:#7a7a7a;width:100%;margin-top:-35px;}
.about_pro h5{ text-align:center; color:#7a7a7a; font-size:12px; font-family:Arial, Helvetica, sans-serif; width:100%;margin-top:-15px;}
#about_pro_list{ width:100%; height:350px; overflow:hidden;}
#about_pro_list div{width:100%; height:350px;}
#about_pro_list div ul{float:left;  width:100%; height:50%;margin-top:5px;overflow:hidden;}
#about_pro_list div ul li{ float:left; width:20%;height:50%px;  border:1px solid #FFF;  position:relative;}
#about_pro_list div ul li a span{ display:block; float:left; width:100%;height:100%; bottom:-100%; opacity:0;filter:alpha(opacity=0); transition:1s all ease; background:#000; position:absolute; color:#FFF; text-align:center; line-height:150px;}
#about_pro_list div ul li:hover a span{bottom:0px; opacity:0.6;filter:alpha(opacity=60);color:#FFF;}
#about_pro_list div ul li img{ width:100%; }
.btn{ width:100%; height:20px; margin-top:10px; }
.btn ul{ width:10%; margin:0 45%;}
.btn ul li{ float:left; width:10px; height:10px; border-radius:10px; margin:0 5px; border:1px solid #999;}
.btn ul li.active11{background:#8e5031;}


/*--------------product-------*/
.product_title{ width:100%; height:255px; }
.product_title h3{ position:absolute; margin-top:145px; color:#000; text-align:center; width:100%; font-size:24px;}
.product_title h4{position:absolute; margin-top:165px; color:#7a7a7a; text-align:center;width:100%; }
.product_title h5{ position:absolute; margin-top:205px; color:#7a7a7a; text-align:center; width:100%; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.product{ width:100%; height:auto;}

#product_pro_list{ width:100%; height:350px; overflow:hidden;}
#product_pro_list div{width:100%; height:350px;}
#product_pro_list div ul{float:left;  width:100%; height:50%;margin-top:5px;overflow:hidden;}
#product_pro_list div ul li{ float:left; width:20%;height:50%px;  border:1px solid #FFF;  position:relative;}
#product_pro_list div ul li a span{ display:block; float:left; width:100%;height:100%; bottom:-100%; opacity:0;filter:alpha(opacity=0); transition:1s all ease; background:#8e5031; position:absolute; color:#FFF; text-align:center; line-height:100px;}
#product_pro_list div ul li:hover a span{bottom:0px; opacity:0.6;filter:alpha(opacity=60);color:#FFF;}
#product_pro_list div ul li img{ width:100%; }



#product_nav{ width:100%; height:50px; background:#f0f0f0;}
#product_nav ul{ width:100%; padding:0 35%; }
#product_nav ul li { float:left; width:25%; line-height:50px; text-align:center; }
#product_nav ul li a{color:#000;text-decoration:none;}
#product_nav ul li a:hover{color:#8e5031;}
#product_nav ul li.pro_active{ background:#FFF; border-top:2px solid #8e5031;}
#product_nav ul li.pro_active a{ color:#8e5031;}

/*--------------productdetail-------*/

.productdetail_title h4{font-size:14px;  color:#505050; text-align:center;margin-top:-25px;width:100%;}
.productdetail_title h3{text-align:center; margin-top:40px; color:#000; width:100%; font-size:24px; }
.pro_banner {
  position: relative;
  text-align: center;
  color: #fff;
  height: auto;
  min-height:600px;
  max-height:900px;
  margin-top:-25px;
  }
.detail{width:80%;margin-left:10%;}
.detail img{width:100%;}
.detail_list{width:80%;margin-left:10%; height:100px; background:#f0f0f0; margin-bottom:60px;margin-top:40px;}
.detail_chioce{ float:left; margin-left:5%; font-size:14px; width:30%; margin-top:10px;}
.detail_chioce ul li{ width:100%; margin-top:12px;}
.detail_chioce ul li a{color:#000;text-decoration:none;}
.aaa{color:#F00;}
.detail_chioce ul li a:hover{color:#8e5031;}
.detail_back{float:right;margin-right:5%; margin-top:30px;}
.detail_back img{ width:100%;}
/*--------------contacts-------*/
.contact{ width:100%; height:488px; }
.contact h3{ position:absolute; margin-top:121px; color:#000; text-align:center; width:100%; font-size:24px;}
.contact h4{position:absolute; margin-top:145px; color:#7a7a7a; text-align:center;width:100%; font-size:12px;}
.contact h5{ position:absolute; margin-top:173px; color:#7a7a7a; text-align:center; width:100%; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
#baidu_map{
position:absolute;
width:100%;
height:285px;
margin-top:203px;
}
 
/*--------------footer-------*/

#map{ width:100%;
height:auto;

}
#foot_map{
	height:200px;
	width:90%;
	float:left;
	margin-left:5%;
	margin-top:70px;
 position:absolute; z-index:2000;}
 #foot_map ul{ width:100%;}
#foot_map ul li{ float:left; width:25%;}
#foot_map ul li a{ float:left; width:100%; font-size:14px; text-align:center; color:#FFF; text-decoration:none;}
#foot_map img{ width:15%;
margin:auto;
	}
	
	
#map .map img{width:100%;
}
.brand{ width:100%;
margin-top:40px;
height:50px;
text-align:center;
color:#000;}
.brand span{ color:#874524; font-weight:bold;}

#foot_map_about{
	height:200px;
	width:90%;
	float:left;
	margin-left:5%;
	margin-top:470px;
 position:absolute; z-index:2200;}
 #foot_map_about ul{ width:100%;}
#foot_map_about ul li{ float:left; width:25%;}
#foot_map_about ul li a{ float:left; width:100%; font-size:14px; text-align:center; color:#FFF;text-decoration:none; }
#foot_map_about img{ width:15%;
margin:auto;
	}








