@charset "utf-8";
/* CSS Document */

body{
	font-family:"微软雅黑";}
ul, li {
	padding: 0 0;
	margin: 0 0;
	list-style: none;
}
.images {
	border: 0px;
}

.right_product {
	float: right;
	width: 690px;
	height: auto;
	border:#CCC 1px solid;
	background: #eaf1fb;
	display:inline;
	
}
.right_product_nav {
	float: left;
	width: 690px;
	height: 30px;
	background:#bccbe0;
}
.right_product_first {
	float: left;
	width: 690px;
	height: auto;
	margin-top: 10px;
}
.right_product_first_nav {
	float: left;
	width: auto;
	height: 20px;
	margin-left: 10px;
}
.right_product_first_nav a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size:16px;
}
.right_product_first_01{
	float:left;
	width:650px;
	height:auto;
	margin-left:15px;
	margin-top:10px;
	font-size:12px;
	}
.right_product_first_01 a{
	font-size:14px;
	font-weight:bold;
	line-height:20px;}

.right_product_first_04{
	float:left;
	width:650px;
	height:auto;
	margin-left:15px;
	margin-top:10px;
	font-size:12px;
	}
.right_product_first_04 a{
	font-size:14px;
	font-weight:bold;
	line-height:20px;}
.right_product_first_04_top{
	float:left;
	width:650px;
    height:auto;
	}
.right_product_first_04_top_left{
	float:left;
	width:310px;
	height:auto;
	margin-left:10px;
	}
.right_product_first_04_top_right{
	float:right;
	width:310px;
	height:auto;
	}
.right_product_first_04_bottom{
	float:left;
	width:650px;
	height:auto;
	margin-top:5px;
	}
.right_product_first_04_bottom_left{
	float:left;
	width:310px;
	height:auto;
	margin-left:10px;

	}
.right_product_first_04_bottom_right{
	float:right;
	width:310px;
	height:auto;
	}

/*first_end*/


.right_product_second {
	float: left;
	width: 690px;
	height: auto;
	margin-top: 10px;
}
.right_product_second_nav {
	float: left;
	width: auto;
	height: 20px;
	margin-left: 10px;
}
.right_product_second_nav a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size:16px;
}
.right_product_second_01{
	float:left;
	width:650px;
	height:auto;
	margin-left:15px;
	margin-top:10px;
	font-size:12px;
	}
.right_product_second_01 a{
	font-size:14px;
	font-weight:bold;
	line-height:20px;}







